* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  background: linear-gradient(135deg, #153674, #4e085f);
  width: 100%;
  min-height: 100vh;
  padding: 10px;
}
.title {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: burlywood;
  border-radius: 10px;
  width: 100%;
  max-width: 600px;
  margin: 100px auto 20px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: 10px 6px 35px -10px rgba(0, 0, 0, 1);
}
.txtinput {
  background-color: rgb(184, 184, 184);
  border-radius: 10px;
  width: 100%;
  max-width: 600px;
  margin: 50px auto 20px;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
  box-shadow: 10px 6px 35px -10px rgba(0, 0, 0, 1);
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #edeef0;
  border-radius: 30px;
  padding-left: 20px;
  margin-bottom: 25px;
}

#todo {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 10px;
  font-weight: 14px;
}

button {
  border: none;
  outline: none;
  padding: 16px 50px;
  background: #ff5945;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  border-radius: 40px;
}
.todolist {
  background-color: white;
  border-radius: 10px;
  width: 100%;
  max-width: 600px;
  margin: 50px auto 20px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: 10px 6px 35px -10px rgba(0, 0, 0, 1);
}

ul li {
  list-style: none;
  font-size: 17px;
  padding: 12px 8px 12px 50px;
  user-select: none;
  cursor: pointer;
  position: relative;
}

ul li::before {
  content: "";
  position: absolute;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  background-image: url(images/unchecked.png);
  background-size: cover;
  background-position: center;
  top: 12px;
  left: 19px;
}

ul li.checked {
  color: #555;
  text-decoration: line-through;
}

ul li.checked::before {
  background-image: url(images/checked.png);
}
